<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Alumnos</title>
    <link rel="stylesheet" type="text/css" href="../../css/estilos.css" />
</head>
<body>

    <h1> Comunidad IT</h1>
    <h1 id="salta">Salta</h1>

    <nav>
        <ul>
            <li><a href="agregar.html">Agregar</a></li>
            <li><a href="listar.html">Listar</a></li>
            <li><a href="../../index.html">Volver</a></li>
        </ul>
    </nav>

    <h2 class="subtitulo">Pantalla principal</h2>

</body>
</html>