<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Lista de Alumnos</title>
</head>
<body>
    <h1> Comunidad IT</h1>
    <h2>Pantalla principal</h2>

    <nav>
        <ul>
            <li><a href="agregar.html">Agregar</a></li>
            <li><a href="listar.html">Listar</a></li>
            <li><a href="../../index.html">Volver</a></li>
        </ul>
    </nav>
    <div>
        <table border="1">
            <tr>
                <td>Nombre</td>
                <td>Apellido</td>
                <td>DNI</td>
                <td>Domicilio</td>
                <td>Email</td>
                <td>Telefono</td>
                <td>Carrera</td>
            </tr>
            <tr>
                <td>Valor 1</td>
                <td>Valor 2</td>
                <td>Valor 3</td>
                <td>Valor 4</td>
                <td>Valor 5</td>
                <td>Valor 6</td>
                <td>Valor 7</td>
            </tr>
        </table>
    </div>

</body>
</html>